[Unit]
Description=Run emborg backup
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
ExecStart=/bin/sh -c '@@EXEC@@ -c @@CONFIG@@ create | tee -a /var/log/emborg-@@CONFIG@@.log'

[Install]
WantedBy=multi-user.target